@using Dominio;
@model Usuario

<p>
    @Model.Nombre
</p>
<p>
    @Model.Apellido
</p>
<p>
    @Model.Email
</p>
<p>
    @Model.FechaIncorporacion
</p>
<p>
    @Model.UnEquipo.Nombre
</p>
<p>
    GASTO del mes que es una metodo que tiene que ir en sistema
</p>

